@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');


@import '~bulma';

.bg {
  background: $light;
  min-height: 100vh;

  &.login {
    padding-top: $navbar-height;
    padding-bottom: $navbar-height;
  }

}

date {
  font-family: 'Share Tech Mono', monospace;
}

.date-container {
  text-indent: 1.25em;
}

.diff-time {
  border-bottom: solid 1px $grey-light;
}

.datetime-input {
  input, select {
    width: 5em;
  }
  label {
    width: 0.5em;
  }
}